<h1>Latest posts</h1>

<table>
  <tr id="tablehead">
    <th>Title</th>
    <th>Body</th>
    <th>Created at</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td valign="top"><%= post.title %></td>
    <td valign="top"><%= post.body %></td>
    <td valign="top"><%= post.created_at %></td>
    <td valign="top"><%= link_to 'Show', post %></td>
    <td valign="top"><%= link_to 'Edit', edit_post_path(post) %></td>
    <td valign="top"><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<div id="wrapper">
<%= link_to 'New Post', new_post_path %>
</div>
